@mixin bp($size) {
	@if $size==1220 {
		@media screen and (max-width: 1220px) {
			@content
		}
	}
}

//Fonts
@font-face {
	font-family: GothamProLight;
	src: url(../fonts/GothamProLight.ttf);
}

@font-face {
	font-family: GothamProRegular;
	src: url(../fonts/GothamProRegular.ttf);
}

@font-face {
	font-family: GothamProMedium;
	src: url(../fonts/GothamProMedium.ttf);
}

@font-face {
	font-family: GothamProBold;
	src: url(../fonts/GothamProBold.ttf);
}

//sizes
$m_abs: 10rem;
$cell_s_abs: 373.32rem;
//ffamily
$f_light: GothamProLight,
sans-serif;
$f_regular: GothamProRegular,
sans-serif;
$f_medium: GothamProMedium,
sans-serif;
$f_bold: GothamProBold,
sans-serif;
//fsize
$f_14: 14rem;
$f_16: 16rem;
$f_18: 18rem;
$f_20: 20rem;
$f_24: 24rem;
$f_25: 25rem;
$f_30: 30rem;
$f_48: 48rem;
$f_80: 80rem;
//colors
$soft_red: #f15151;
$soft_violet: #6671ad;
$soft_blue: #b3bbf0;
$bright_blue: #2cebf2;
$black: #333333;
//abstract_classes
%clear {
	position: relative;
	&:after {
		content: ' ';
		display: block;
		clear: both;
	}
}

%arrow {
	position: relative;
	>div.arrow {
		width: 18rem;
		height: 18rem;
		position: absolute;
		border-bottom: 1rem solid $black;
		border-right: 1rem solid $black;
		&:nth-of-type(1) {
			left: 4rem;
			transform: rotate(135deg)
		}
		&:nth-of-type(2) {
			right: 4rem;
			transform: rotate(-45deg)
		}
	}
}

%slider {
	.slider_wrapper {
		overflow: hidden;
		.slides_wrapper {
			position: relative;
			right: 0;
			transition-duration: 1s;
			@extend %clear;
			.slide {
				float: left;
			}
		}
	}
}

%slider_with_arrows {
	@extend %arrow;
	.slider_wrapper {
		width: 93%;
		margin: auto;
		overflow: hidden;
	}
}

%button_bottom {
	$height: 50rem;
	height: $height;
	padding: 0 $m_abs*1.8 0 $m_abs*1.8;
	box-sizing: border-box;
	border: 2rem solid $soft_red;
	line-height: $height - 4rem;
	font-family: $f_medium;
	font-size: $f_14;
	text-transform: uppercase;
}

%button_width_border {
	$height: 55rem;
	padding: 0 $m_abs*2 0 $m_abs*2;
	height: $height;
	box-sizing: border-box;
	border: 4rem solid $soft_red;
	text-align: center;
	line-height: $height - 8rem;
	font-family: $f_medium;
	font-size: $f_20;
}

%button_buzz {
	&:hover {
		-webkit-animation-name: hvr-buzz-out;
		animation-name: hvr-buzz-out;
		-webkit-animation-duration: 0.75s;
		animation-duration: 0.75s;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-iteration-count: 1;
		animation-iteration-count: 1;
	}
}

%text_plus_span {
	padding-top: 25rem;
	padding-bottom: 10rem;
	text-align: center;
	line-height: 20rem;
	font-size: $f_14;
	span {
		font-family: $f_medium;
		font-size: $f_18;
		text-transform: uppercase
	}
}

@mixin placeholder {
	font-family: $f_regular;
	font-size: $f_14;
	color: $black;
}

@mixin placeholder_white {
	color: white;
}

//animations 
@keyframes orbit1 {
	0% {
		transform: translate(19%, 50rem);
	}
	10% {
		transform: translate(20%, 80rem);
	}
	20% {
		transform: translate(21%, 110rem);
	}
	30% {
		transform: translate(20%, 140rem);
	}
	40% {
		transform: translate(19%, 170rem);
	}
	50% {
		transform: translate(18%, 200rem);
	}
	60% {
		transform: translate(17%, 230rem);
	}
	70% {
		transform: translate(16%, 260rem);
	}
	80% {
		transform: translate(15%, 290rem);
	}
	90% {
		transform: translate(14%, 320rem);
	}
	100% {
		transform: translate(13%, 350rem);
	}
}

@keyframes orbit2 {
	100% {
		transform: translate(20%, 70rem);
	}
	90% {
		transform: translate(21%, 100rem);
	}
	80% {
		transform: translate(20%, 130rem);
	}
	70% {
		transform: translate(19%, 160rem);
	}
	60% {
		transform: translate(18%, 190rem);
	}
	50% {
		transform: translate(17%, 220rem);
	}
	40% {
		transform: translate(16%, 250rem);
	}
	30% {
		transform: translate(15%, 280rem);
	}
	20% {
		transform: translate(14%, 310rem);
	}
	10% {
		transform: translate(13%, 340rem);
	}
	0% {
		transform: translate(12%, 370rem);
	}
}

@keyframes orbit3 {
	0% {
		transform: translate(10%, -60rem);
	}
	10% {
		transform: translate(12%, -17rem);
	}
	20% {
		transform: translate(14%, 26rem);
	}
	30% {
		transform: translate(16%, 69rem);
	}
	40% {
		transform: translate(18%, 112rem);
	}
	50% {
		transform: translate(16%, 155rem);
	}
	60% {
		transform: translate(14%, 198rem);
	}
	70% {
		transform: translate(12%, 241rem);
	}
	80% {
		transform: translate(10%, 284rem);
	}
	90% {
		transform: translate(8%, 327rem);
	}
	100% {
		transform: translate(6%, 370rem);
	}
}

@keyframes hvr-buzz-out {
	10% {
		-webkit-transform: translateX(3rem) rotate(2deg);
		transform: translateX(3rem) rotate(2deg);
	}
	20% {
		-webkit-transform: translateX(-3rem) rotate(-2deg);
		transform: translateX(-3rem) rotate(-2deg);
	}
	30% {
		-webkit-transform: translateX(3rem) rotate(2deg);
		transform: translateX(3rem) rotate(2deg);
	}
	40% {
		-webkit-transform: translateX(-3rem) rotate(-2deg);
		transform: translateX(-3rem) rotate(-2deg);
	}
	50% {
		-webkit-transform: translateX(2rem) rotate(1deg);
		transform: translateX(2rem) rotate(1deg);
	}
	60% {
		-webkit-transform: translateX(-2rem) rotate(-1deg);
		transform: translateX(-2rem) rotate(-1deg);
	}
	70% {
		-webkit-transform: translateX(2rem) rotate(1deg);
		transform: translateX(2rem) rotate(1deg);
	}
	80% {
		-webkit-transform: translateX(-2rem) rotate(-1deg);
		transform: translateX(-2rem) rotate(-1deg);
	}
	90% {
		-webkit-transform: translateX(1rem) rotate(0);
		transform: translateX(1rem) rotate(0);
	}
	100% {
		-webkit-transform: translateX(-1rem) rotate(0);
		transform: translateX(-1rem) rotate(0);
	}
}