section.cat_top_part {
	height: 700rem;
	position: relative;
	text-align: center;
	background-image: url(../images/bg_top.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: white;
	.wrapper {
		height: 100%;
		>div {
			@extend %clear;
		}
	}
	.main_h {
		padding-top: 170rem;
		padding-bottom: 50rem;
	}
	.bg_orbit {
		width: 100%;
		height: 100%;
		position: absolute;
		background-image: url(../images/orbit_horiz_big_white.png);
		background-position: center top;
		background-repeat: no-repeat;
	}
	.submit_app_btn {
		@extend %button_width_border;
		@extend %button_buzz;
		margin-top: 85rem;
		display: inline-block;
		clear: both;
	}
	.item_block {
		width: 25%;
		float: left;
		&.lower_position {
			margin-top: 40rem;
		}
		&:nth-of-type(odd) >img {
			//transform: rotate(30deg)
		}
		>img {
			display: block;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 10rem;
			height: 112rem;
			width: auto;
		}
		.text {
			@extend %text_plus_span;
		}
	}
}