.full_screen_slider {
	width: 100%;
	height: 651rem;
	position: relative;
	color: white;
	background-color: $soft_violet;
	.bg_figures {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: {
			image: url(../images/bg_full_screen_slider.png);
			size: 100% auto;
			position: bottom center;
			repeat: no-repeat;
		}
		z-index:1;
	}
	.main_h {
		position: absolute;
		top: 140rem;
		right: 0;
		left: 0;
		margin: auto;
		z-index: 2;
	}
	.slider {
		@extend %slider;
		$width: 1040rem;
		$height: 300rem;
		width: 100%;
		height: 100%;
		.slider_wrapper {
			width: 100%;
			height: 100%;
			.slides_wrapper {
				width: 100%;
				height: 100%;
				.slide {
					visibility: hidden;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					float: none;
					background: {
						size: cover;
						position: center center;
						repeat: no-repeat;
					}
					&.active {
						visibility: visible;
					}
					.slide_content_wrapper {
						width: 100%;
						height: 100%;
						opacity: 0;
						transition-duration: 0.5s;
					}
					.slide_content {
						position: relative;
						width: $width;
						height: $height;
						margin: auto;
						padding-top: 210rem;
						z-index: 2;
						>* {
							float: left;
						}
					}
					.sign {
						padding-left: 50rem;
						padding-right: 50rem;
						line-height: $height;
						font-size: $f_80;
					}
					.slide_content_part {
						width: 237rem;
						@include bp(1220) {
							width: 237 * 0.082vw;
						}
						.slide_image {
							height: 235rem;
						}
						.caption {
							text-align: center;
							font-family: $f_medium;
							font-size: $f_18;
							text-transform: uppercase;
						}
						&.info {
							padding-top: 70rem;
							float: right;
							>* {
								text-align: right;
								float: right;
							}
							.price {
								font-family: $f_medium;
								font-size: $f_48;
								span {
									font-size: $f_30;
									font-family: $f_light;
								}
							}
							.submit_app_btn {
								@extend %button_width_border;
								@extend %button_buzz;
								margin-top: 20rem;
							}
						}
					}
				}
			}
		}
		.pagination {
			position: relative;
			top: -45rem;
			text-align: center;
			z-index: 2;
			>div {
				display: inline-block;
				.nav_item {
					width: 12rem;
					height: 12rem;
					margin: 0 1rem 0 1rem;
					float: left;
					border-radius: 50%;
					background-clip: padding-box;
					border: 2rem solid rgba(255, 255, 255, 0);
					background-color: $soft_red;
					cursor: pointer;
					&.active {
						background-color: transparent;
						border: 2rem solid $soft_red;
						margin: 0 2rem 0 2rem;
					}
				}
			}
		}
	}
}