section.about {
	padding-top: 60rem;
	padding-bottom: 10rem;
	.main_h {
		padding-left: $m_abs *2;
		text-align: left;
	}
	p {
		padding: $m_abs *2;
	}
	.small_h {
		padding-top: 25rem;
		padding-bottom: 55rem;
		padding-left: $m_abs *2;
		text-align: left;
	}
	.cycle {
		$margin: 1.724%/2;
		@extend %clear;
		min-height: 215rem;
		height: 1rem;
		>div {
			margin-left: $margin;
			margin-right: $margin;
			float: left;
		}
		div.step {
			width: 13.793%;
			min-height: 100%;
			height: auto;
			>img {
				display: block;
				margin: auto;
				height: 112rem;
				width: auto;
			}
			.text {
				@extend %text_plus_span;
			}
		}
		.arrow {
			width: 3.448%;
			height: 100%;
			background: {
				image: url(../images/arrow.png);
				position: center 48rem;
				size: 100% auto;
				repeat: no-repeat;
			}
		}
	}
}