.full_screen_slider {
    width: 100%;
    height: 651px;
    position: relative;
    color: white;
    background-color: $soft_violet;
    @include bp(1220) {
        height: 651 * 0.082vw;
    }
    .bg_figures {
        position: absolute;
        top:0; 
        bottom: 0;
        left: 0;
        right: 0;
        background: {
            image: url(../images/bg_full_screen_slider.png);
            size: 100% auto;
            position: bottom center;
            repeat: no-repeat;
        }
        z-index:1;
    }
    .main_h {
        position: absolute;
        top: 140px;
        right: 0;
        left: 0;
        margin: auto;
        z-index: 2;
        @include bp(1220) {
            top: 140 * 0.082vw;
        }
    }
    .slider {
        @extend %slider;
        $width: 1040px;
        $height: 300px;
        width: 100%;
        height: 100%;
        .slider_wrapper {
            width: 100%;
            height: 100%;
            .slides_wrapper {
                width: 100%;
                height: 100%;
                .slide {display:none;
                    opacity:0;//
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    float: none;
                    background: {
                        size: cover;
                        position: center center;
                        repeat: no-repeat;
                    }
                    &.active {display: block;}
                    .slide_content {position: relative;
                        width: $width;
                        height: $height;
                        margin: auto;
                        padding-top: 210px;
                        z-index:2;
                        >* {
                            float: left;
                        }
                        @include bp(1220) {
                            width: 1040 * 0.082vw;
                            height: 300 * 0.082vw;
                            padding-top: 210 * 0.082vw;
                        }
                    }
                    .sign {
                        padding-left: 50px;
                        padding-right: 50px;
                        line-height: $height;
                        font-size: $f_80;
                        @include bp(1220) {
                            padding-right: 50 * 0.082vw;
                            padding-left: 50 * 0.082vw;
                            line-height: 300* 0.082vw;
                        }
                    }
                    .slide_content_part {
                        width: 237px;
                        @include bp(1220) {
                            width: 237 * 0.082vw;
                        }
                        .slide_image {
                            height: 235px;
                            @include bp(1220) {
                                height: 235 * 0.082vw;
                            }
                        }
                        .caption {
                            text-align: center;
                            font-family: $f_medium;
                            font-size: $f_18;
                            text-transform: uppercase;
                        }
                        &.info {
                            padding-top: 70px;
                            float: right;
                            @include bp(1220) {
                                padding-top: 70 * 0.082vw;
                            }
                            >* {
                                text-align: right;
                                float: right;
                            }
                            .price {
                                font-family: $f_medium;
                                font-size: $f_48;
                                span { font-size: $f_30;
                                    font-family: $f_light;
                                }
                            }
                            .submit_app_btn {
                                $height: 55px;
                                padding: 0 $m_abs*2 0 $m_abs*2;
                                height: $height;
                                margin-top: 20px;
                                box-sizing: border-box;
                                border: 4px solid $soft_red;
                                text-align: center;
                                line-height: $height - 8px;
                                font-family: $f_medium;
                                font-size: $f_20;
                                &:hover {
                                    -webkit-animation-name: hvr-buzz-out;
                                    animation-name: hvr-buzz-out;
                                    -webkit-animation-duration: 0.75s;
                                    animation-duration: 0.75s;
                                    -webkit-animation-timing-function: linear;
                                    animation-timing-function: linear;
                                    -webkit-animation-iteration-count: 1;
                                    animation-iteration-count: 1;
                                }
                                @include bp(1220) {
                                    height: 55* 0.082vw;
                                    margin-top: 20* 0.082vw;
                                    padding: 0 $m_rel*2 0 $m_rel*2;
                                    line-height: (55 - 8) * 0.082vw;
                                }
                            }
                        }
                    }
                }
            }
        }
        .pagination {
            position: relative;
            top: -45px;
            text-align: center;
            z-index: 2;
            @include bp(1220) {
                top: -45 * 0.082vw;
            }
            >div {
                display: inline-block;
                .nav_item {
                    width: 12px;
                    height: 12px;
                    margin: 0 1px 0 1px;
                    float: left;
                    border-radius: 50%;
                    background-clip: padding-box;
                    border: 2px solid rgba(255, 255, 255, 0);
                    background-color: $soft_red;
                    @include bp(1220) {
                        width: 12 * 0.082vw;
                        height: 12 * 0.082vw;
                    }
                    &.active {
                        background-color: transparent;
                        border: 2px solid $soft_red;
                        margin: 0 2px 0 2px;
                    }
                }
            }
        }
    }
}