section.performed_works {
    @extend %block_padding;
    padding-bottom: $padding;
    .main_h {
        padding: $padding 0;
    }
    .portfolio {
        @extend %clear;
        width: 95vw;
        margin: -$padding/2;
        .cell_cube {
            width: 42.5rem;
            height: 42.5rem;
            margin: $padding/2;
            display: block;
            float: left;
            background-color: azure;
            img {
                width: 100%;
                height: auto;
                display: block;
            }
            @include bp(landscape) {
                width: 26.6rem;
                height: 26.6rem;
            }
        }
    }
}