section.work_top_part {
    color: white;
    .bg_top {
        background-image: url(../images/bg_top.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        .wrapper {
            @extend %clear;
            padding-top: 190rem;
            position: relative;
            .description {
                float: left;
                width: 580rem;
                .main_h {
                    text-align: left;
                    font-size: $f_30;
                }
                b { display: block;
                    font-weight: normal;
                    font-size: $f_16;
                }
                ul {
                    list-style-image: url(../images/list_item.png);
                    padding-left: 25rem;
                    li {
                        display: list-item;
                        padding-top: 25rem;
                        padding-left: 10rem;
                        font-size: $f_14;
                    }
                }
                a {
                    height: 49rem;
                    margin-top: 30rem;
                    margin-bottom: 28rem;
                    padding: 0 $m_abs 0 $m_abs;
                    display: block;
                    float: left;
                    border: 3rem solid $soft_red;
                    line-height: 49rem;
                    text-align: center;
                    font-size: $f_16;
                    text-transform: uppercase;
                }
            }
            .screen_pict_wrapper {
                width: 680rem;
                height: 470rem;
                position: absolute;
                bottom: 0;
                right: $m_abs *2;
                background-image: url(../images/planet_work_top.png);
                background-position: top left;
                background-repeat: no-repeat;
            }
            .screen_pict {
                width: 524rem;
                height: 300rem;
                position: absolute;
                bottom: 0;
                right: 0;
                border: 23px solid black;
                border-top-left-radius: 10rem;
                border-top-right-radius: 10rem;
                overflow: hidden;
                z-index: 5;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .bg_bottom {
        position: relative;
        height: 145rem;
        img {
            width: 525rem + 46rem;
            height: auto;
            display: block;
            position: absolute;
            top: 0;
            right: ($m_abs *2) - 1;
        }
    }
}

section.work_content {
    padding-top: 35rem;
    padding-bottom: 55rem;
    .main_h {
        padding-bottom: 20rem;
        font-size: $f_20;
        text-transform: none
    }
    .big_img {
        width: 100%;
        min-height: 40rem;
        margin-bottom: 30rem;
        background-color: black;
        img {
            width: 100%;
            height: auto;
        }
    }
    .small_imgs {
        @extend %clear;
        .item {
            width: 30%;
             min-height: 40rem;//to delete
            float: left;
            
            .small_h {
                padding-bottom: 20rem;
            }
            &:nth-of-type(even) {
                margin-right: 5%;
                margin-left: 5%;
            }
            a { min-height: 40rem; //to delete
                display: block;
                background-color: black;
                img {
                    width: 100%;
                    
                    height: auto;
                    display: block;
                }
            }
        }
    }
}