@font-face {
  font-family: GothamProLight;
  src: url(../fonts/GothamProLight.ttf); }
@font-face {
  font-family: GothamProRegular;
  src: url(../fonts/GothamProRegular.ttf); }
@font-face {
  font-family: GothamProMedium;
  src: url(../fonts/GothamProMedium.ttf); }
@font-face {
  font-family: GothamProBold;
  src: url(../fonts/GothamProBold.ttf); }
.full_screen_slider .slider .slider_wrapper .slides_wrapper, section.review .slider .slider_wrapper .slides_wrapper, section.team .wrapper .slider .slider_wrapper .slides_wrapper, header .wrapper, .work_directions .wrapper, .performed_works .portfolio, section.about .cycle, section.cat_top_part .wrapper > div, footer .wrapper {
  position: relative; }
  .full_screen_slider .slider .slider_wrapper .slides_wrapper:after, section.review .slider .slider_wrapper .slides_wrapper:after, section.team .wrapper .slider .slider_wrapper .slides_wrapper:after, header .wrapper:after, .work_directions .wrapper:after, .performed_works .portfolio:after, section.about .cycle:after, section.cat_top_part .wrapper > div:after, footer .wrapper:after {
    content: ' ';
    display: block;
    clear: both; }

section.review .slider, section.team .wrapper .slider {
  position: relative; }
  section.review .slider > div.arrow, section.team .wrapper .slider > div.arrow {
    width: 18rem;
    height: 18rem;
    position: absolute;
    border-bottom: 1rem solid #333333;
    border-right: 1rem solid #333333; }
    section.review .slider > div.arrow:nth-of-type(1), section.team .wrapper .slider > div.arrow:nth-of-type(1) {
      left: 0;
      -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
              transform: rotate(135deg); }
    section.review .slider > div.arrow:nth-of-type(2), section.team .wrapper .slider > div.arrow:nth-of-type(2) {
      right: 0;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.full_screen_slider .slider .slider_wrapper, section.review .slider .slider_wrapper, section.team .wrapper .slider .slider_wrapper {
  overflow: hidden; }
  .full_screen_slider .slider .slider_wrapper .slides_wrapper, section.review .slider .slider_wrapper .slides_wrapper, section.team .wrapper .slider .slider_wrapper .slides_wrapper {
    position: relative;
    right: 0;
    -webkit-transition-duration: 1s;
            transition-duration: 1s; }
    .full_screen_slider .slider .slider_wrapper .slides_wrapper .slide, section.review .slider .slider_wrapper .slides_wrapper .slide, section.team .wrapper .slider .slider_wrapper .slides_wrapper .slide {
      float: left; }

section.review .slider .slider_wrapper, section.team .wrapper .slider .slider_wrapper {
  width: 93%;
  margin: auto;
  overflow: hidden; }

section.review .slider .slider_wrapper .slides_wrapper .slide .slide_content_part a.button, section.team .wrapper a.button {
  height: 50rem;
  padding: 0 18rem 0 18rem;
  box-sizing: border-box;
  border: 2rem solid #f15151;
  line-height: 46rem;
  font-family: GothamProMedium, sans-serif;
  font-size: 14rem;
  text-transform: uppercase; }

.full_screen_slider .slider .slider_wrapper .slides_wrapper .slide .slide_content_part.info .submit_app_btn, section.cat_top_part .submit_app_btn {
  padding: 0 20rem 0 20rem;
  height: 55rem;
  box-sizing: border-box;
  border: 4rem solid #f15151;
  text-align: center;
  line-height: 47rem;
  font-family: GothamProMedium, sans-serif;
  font-size: 20rem; }

.full_screen_slider .slider .slider_wrapper .slides_wrapper .slide .slide_content_part.info .submit_app_btn:hover, .site_ordering .submit_app_btn:hover, section.cat_top_part .submit_app_btn:hover {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

section.about .cycle div.step .text, section.cat_top_part .item_block .text {
  padding-top: 25rem;
  padding-bottom: 10rem;
  text-align: center;
  line-height: 20rem;
  font-size: 14rem; }
  section.about .cycle div.step .text span, section.cat_top_part .item_block .text span {
    font-family: GothamProMedium, sans-serif;
    font-size: 18rem;
    text-transform: uppercase; }

@-webkit-keyframes orbit1 {
  0% {
    -webkit-transform: translate(19%, 50rem);
            transform: translate(19%, 50rem); }
  10% {
    -webkit-transform: translate(20%, 80rem);
            transform: translate(20%, 80rem); }
  20% {
    -webkit-transform: translate(21%, 110rem);
            transform: translate(21%, 110rem); }
  30% {
    -webkit-transform: translate(20%, 140rem);
            transform: translate(20%, 140rem); }
  40% {
    -webkit-transform: translate(19%, 170rem);
            transform: translate(19%, 170rem); }
  50% {
    -webkit-transform: translate(18%, 200rem);
            transform: translate(18%, 200rem); }
  60% {
    -webkit-transform: translate(17%, 230rem);
            transform: translate(17%, 230rem); }
  70% {
    -webkit-transform: translate(16%, 260rem);
            transform: translate(16%, 260rem); }
  80% {
    -webkit-transform: translate(15%, 290rem);
            transform: translate(15%, 290rem); }
  90% {
    -webkit-transform: translate(14%, 320rem);
            transform: translate(14%, 320rem); }
  100% {
    -webkit-transform: translate(13%, 350rem);
            transform: translate(13%, 350rem); } }

@keyframes orbit1 {
  0% {
    -webkit-transform: translate(19%, 50rem);
            transform: translate(19%, 50rem); }
  10% {
    -webkit-transform: translate(20%, 80rem);
            transform: translate(20%, 80rem); }
  20% {
    -webkit-transform: translate(21%, 110rem);
            transform: translate(21%, 110rem); }
  30% {
    -webkit-transform: translate(20%, 140rem);
            transform: translate(20%, 140rem); }
  40% {
    -webkit-transform: translate(19%, 170rem);
            transform: translate(19%, 170rem); }
  50% {
    -webkit-transform: translate(18%, 200rem);
            transform: translate(18%, 200rem); }
  60% {
    -webkit-transform: translate(17%, 230rem);
            transform: translate(17%, 230rem); }
  70% {
    -webkit-transform: translate(16%, 260rem);
            transform: translate(16%, 260rem); }
  80% {
    -webkit-transform: translate(15%, 290rem);
            transform: translate(15%, 290rem); }
  90% {
    -webkit-transform: translate(14%, 320rem);
            transform: translate(14%, 320rem); }
  100% {
    -webkit-transform: translate(13%, 350rem);
            transform: translate(13%, 350rem); } }
@-webkit-keyframes orbit2 {
  100% {
    -webkit-transform: translate(20%, 70rem);
            transform: translate(20%, 70rem); }
  90% {
    -webkit-transform: translate(21%, 100rem);
            transform: translate(21%, 100rem); }
  80% {
    -webkit-transform: translate(20%, 130rem);
            transform: translate(20%, 130rem); }
  70% {
    -webkit-transform: translate(19%, 160rem);
            transform: translate(19%, 160rem); }
  60% {
    -webkit-transform: translate(18%, 190rem);
            transform: translate(18%, 190rem); }
  50% {
    -webkit-transform: translate(17%, 220rem);
            transform: translate(17%, 220rem); }
  40% {
    -webkit-transform: translate(16%, 250rem);
            transform: translate(16%, 250rem); }
  30% {
    -webkit-transform: translate(15%, 280rem);
            transform: translate(15%, 280rem); }
  20% {
    -webkit-transform: translate(14%, 310rem);
            transform: translate(14%, 310rem); }
  10% {
    -webkit-transform: translate(13%, 340rem);
            transform: translate(13%, 340rem); }
  0% {
    -webkit-transform: translate(12%, 370rem);
            transform: translate(12%, 370rem); } }
@keyframes orbit2 {
  100% {
    -webkit-transform: translate(20%, 70rem);
            transform: translate(20%, 70rem); }
  90% {
    -webkit-transform: translate(21%, 100rem);
            transform: translate(21%, 100rem); }
  80% {
    -webkit-transform: translate(20%, 130rem);
            transform: translate(20%, 130rem); }
  70% {
    -webkit-transform: translate(19%, 160rem);
            transform: translate(19%, 160rem); }
  60% {
    -webkit-transform: translate(18%, 190rem);
            transform: translate(18%, 190rem); }
  50% {
    -webkit-transform: translate(17%, 220rem);
            transform: translate(17%, 220rem); }
  40% {
    -webkit-transform: translate(16%, 250rem);
            transform: translate(16%, 250rem); }
  30% {
    -webkit-transform: translate(15%, 280rem);
            transform: translate(15%, 280rem); }
  20% {
    -webkit-transform: translate(14%, 310rem);
            transform: translate(14%, 310rem); }
  10% {
    -webkit-transform: translate(13%, 340rem);
            transform: translate(13%, 340rem); }
  0% {
    -webkit-transform: translate(12%, 370rem);
            transform: translate(12%, 370rem); } }
@-webkit-keyframes orbit3 {
  0% {
    -webkit-transform: translate(10%, -60rem);
            transform: translate(10%, -60rem); }
  10% {
    -webkit-transform: translate(12%, -17rem);
            transform: translate(12%, -17rem); }
  20% {
    -webkit-transform: translate(14%, 26rem);
            transform: translate(14%, 26rem); }
  30% {
    -webkit-transform: translate(16%, 69rem);
            transform: translate(16%, 69rem); }
  40% {
    -webkit-transform: translate(18%, 112rem);
            transform: translate(18%, 112rem); }
  50% {
    -webkit-transform: translate(16%, 155rem);
            transform: translate(16%, 155rem); }
  60% {
    -webkit-transform: translate(14%, 198rem);
            transform: translate(14%, 198rem); }
  70% {
    -webkit-transform: translate(12%, 241rem);
            transform: translate(12%, 241rem); }
  80% {
    -webkit-transform: translate(10%, 284rem);
            transform: translate(10%, 284rem); }
  90% {
    -webkit-transform: translate(8%, 327rem);
            transform: translate(8%, 327rem); }
  100% {
    -webkit-transform: translate(6%, 370rem);
            transform: translate(6%, 370rem); } }
@keyframes orbit3 {
  0% {
    -webkit-transform: translate(10%, -60rem);
            transform: translate(10%, -60rem); }
  10% {
    -webkit-transform: translate(12%, -17rem);
            transform: translate(12%, -17rem); }
  20% {
    -webkit-transform: translate(14%, 26rem);
            transform: translate(14%, 26rem); }
  30% {
    -webkit-transform: translate(16%, 69rem);
            transform: translate(16%, 69rem); }
  40% {
    -webkit-transform: translate(18%, 112rem);
            transform: translate(18%, 112rem); }
  50% {
    -webkit-transform: translate(16%, 155rem);
            transform: translate(16%, 155rem); }
  60% {
    -webkit-transform: translate(14%, 198rem);
            transform: translate(14%, 198rem); }
  70% {
    -webkit-transform: translate(12%, 241rem);
            transform: translate(12%, 241rem); }
  80% {
    -webkit-transform: translate(10%, 284rem);
            transform: translate(10%, 284rem); }
  90% {
    -webkit-transform: translate(8%, 327rem);
            transform: translate(8%, 327rem); }
  100% {
    -webkit-transform: translate(6%, 370rem);
            transform: translate(6%, 370rem); } }
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3rem) rotate(2deg);
    transform: translateX(3rem) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3rem) rotate(-2deg);
    transform: translateX(-3rem) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3rem) rotate(2deg);
    transform: translateX(3rem) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3rem) rotate(-2deg);
    transform: translateX(-3rem) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2rem) rotate(1deg);
    transform: translateX(2rem) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2rem) rotate(-1deg);
    transform: translateX(-2rem) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2rem) rotate(1deg);
    transform: translateX(2rem) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2rem) rotate(-1deg);
    transform: translateX(-2rem) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1rem) rotate(0);
    transform: translateX(1rem) rotate(0); }
  100% {
    -webkit-transform: translateX(-1rem) rotate(0);
    transform: translateX(-1rem) rotate(0); } }
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3rem) rotate(2deg);
    transform: translateX(3rem) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3rem) rotate(-2deg);
    transform: translateX(-3rem) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3rem) rotate(2deg);
    transform: translateX(3rem) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3rem) rotate(-2deg);
    transform: translateX(-3rem) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2rem) rotate(1deg);
    transform: translateX(2rem) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2rem) rotate(-1deg);
    transform: translateX(-2rem) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2rem) rotate(1deg);
    transform: translateX(2rem) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2rem) rotate(-1deg);
    transform: translateX(-2rem) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1rem) rotate(0);
    transform: translateX(1rem) rotate(0); }
  100% {
    -webkit-transform: translateX(-1rem) rotate(0);
    transform: translateX(-1rem) rotate(0); } }
html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  font-family: GothamProRegular, sans-serif;
  color: #333333; }

html {
  font-size: 1px; }
  @media screen and (max-width: 1220px) {
    html {
      font-size: 0.082vw; } }

body.hidden {
  overflow: hidden; }
@media screen and (max-width: 1220px) {
  body {
    width: 100vw;
    overflow-x: hidden; } }

.wrapper {
  width: 1200rem;
  margin: auto;
  padding-right: 20rem;
  padding-left: 20rem;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center; }

.main_h {
  font-family: GothamProMedium, sans-serif;
  font-size: 24rem;
  text-transform: uppercase; }

.med_h {
  font-family: GothamProMedium, sans-serif;
  font-size: 20rem; }

.small_h {
  font-family: GothamProMedium, sans-serif;
  font-size: 18rem;
  text-transform: uppercase; }

p {
  margin: 0;
  font-size: 14rem; }

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    display: inline-block; }

img {
  display: block;
  overflow: hidden; }

.image1 {
  width: auto;
  height: 219rem; }

.image2 {
  width: auto;
  height: 211rem; }

.image3,
.image4,
.image5 {
  width: auto;
  height: 114rem; }

input,
textarea,
button {
  display: block;
  box-sizing: border-box;
  border: none; }
  input:focus,
  textarea:focus,
  button:focus {
    outline: none; }

input,
textarea {
  padding-left: 15rem;
  font-family: GothamProRegular, sans-serif;
  font-size: 14rem;
  color: #333333
  /* Firefox 19+ */
  /* Firefox 18- */ }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    font-family: GothamProRegular, sans-serif;
    font-size: 14rem;
    color: #333333; }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    font-family: GothamProRegular, sans-serif;
    font-size: 14rem;
    color: #333333; }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    font-family: GothamProRegular, sans-serif;
    font-size: 14rem;
    color: #333333; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    font-family: GothamProRegular, sans-serif;
    font-size: 14rem;
    color: #333333; }

.modal .modal_content input.valid:invalid:not([type="checkbox"]), footer .wrapper > div.form form input.valid:invalid {
  border: 2rem solid #f15151; }
.modal .modal_content input.valid:-moz-submit-invalid:not([type="checkbox"]), footer .wrapper > div.form form input.valid:-moz-submit-invalid {
  border: 2rem solid #f15151; }
.modal .modal_content input.valid:-moz-ui-invalid:not([type="checkbox"]), footer .wrapper > div.form form input.valid:-moz-ui-invalid {
  border: 2rem solid #f15151; }

textarea {
  resize: none; }

.invisible_scroll {
  position: absolute;
  z-index: -100; }

.submit_app_btn,
button {
  cursor: pointer;
  white-space: pre; }

.glowing {
  opacity: 0;
  position: absolute;
  border-radius: 50%;
  background-color: #39ff97;
  box-shadow: 0rem 0rem 35rem #39ff97, 0rem 0rem 70rem 40rem rgba(255, 255, 255, 0.7); }
  .glowing.active {
    opacity: 1;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }

span.red {
  font-family: GothamProMedium, sans-serif;
  color: #f15151; }

span.blue {
  font-family: GothamProMedium, sans-serif;
  color: #333333; }

.modal .bg_modal_trans.big_height, .modal .bg_modal_top.big_height, .modal .bg_modal_bottom.big_height {
  min-height: 575px; }

.modal .modal_content.big_height {
  height: 575px; }

.modal {
  opacity: 0;
  display: none;
  min-height: 100vh;
  height: 1px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 100;
  overflow: auto; }
  .modal .bg_modal_trans {
    width: 100%;
    height: 100%;
    min-height: 460px;
    background-image: url(../images/bg_modal.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.9; }
  .modal .bg_modal_top {
    min-height: 460px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../images/bg_modal_top.png);
    background-position: center center;
    background-repeat: no-repeat; }
  .modal .bg_modal_bottom {
    min-height: 460px;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background-position: bottom left;
    background-repeat: no-repeat; }
  .modal .modal_content {
    width: 800px;
    height: 460px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
    @media screen and (max-width: 1220px) {
      .modal .modal_content {
        max-width: 800px;
        width: 95vw; } }
    .modal .modal_content .modal_main_h {
      text-align: left;
      font-family: GothamProMedium, sans-serif;
      font-size: 30rem;
      text-transform: uppercase; }
    .modal .modal_content p {
      padding-top: 5px;
      padding-bottom: 40px;
      font-size: 16rem; }
    .modal .modal_content .close {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 10px;
      right: 10px; }
      .modal .modal_content .close:before {
        content: " ";
        width: 28px;
        display: block;
        border-bottom: 1px solid white;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: -10px;
        bottom: 0; }
      .modal .modal_content .close:after {
        content: " ";
        width: 28px;
        display: block;
        border-bottom: 1px solid white;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        position: absolute;
        top: 0;
        left: -11px;
        bottom: 0; }
    .modal .modal_content form > div:first-of-type {
      width: 48%;
      padding-bottom: 20px;
      float: left; }
    .modal .modal_content form > div:last-of-type {
      width: 48%;
      float: right; }
    .modal .modal_content .chkbox_h {
      padding-top: 10px;
      padding-bottom: 20px;
      text-align: left;
      font-family: GothamProMedium, sans-serif;
      font-size: 14rem;
      text-transform: uppercase; }
    .modal .modal_content input:not([type="checkbox"]), .modal .modal_content textarea {
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
      border: 2px solid #b3bbf0;
      background-color: transparent;
      color: white
      /* Firefox 19+ */
      /* Firefox 18- */ }
      .modal .modal_content input:not([type="checkbox"])::-webkit-input-placeholder, .modal .modal_content textarea::-webkit-input-placeholder {
        color: white; }
      .modal .modal_content input:not([type="checkbox"])::-moz-placeholder, .modal .modal_content textarea::-moz-placeholder {
        color: white; }
      .modal .modal_content input:-moz-placeholder:not([type="checkbox"]), .modal .modal_content textarea:-moz-placeholder {
        color: white; }
      .modal .modal_content input:-ms-input-placeholder:not([type="checkbox"]), .modal .modal_content textarea:-ms-input-placeholder {
        color: white; }
    .modal .modal_content input:not([type="checkbox"]) {
      height: 47px;
      line-height: 45px; }
      .modal .modal_content input:not([type="checkbox"]):valid {
        border: 2px solid #b3bbf0; }
    .modal .modal_content textarea {
      height: 94px;
      padding-top: 15px; }
    .modal .modal_content button {
      height: 55px;
      margin-right: auto;
      margin-left: auto;
      padding-right: 18px;
      padding-left: 18px;
      line-height: 55px;
      clear: both;
      background-color: #f15151;
      font-family: GothamProMedium, sans-serif;
      font-size: 18rem;
      color: white;
      text-transform: uppercase; }
    .modal .modal_content label {
      font-family: GothamProMedium, sans-serif;
      font-size: 14rem; }
      .modal .modal_content label + span {
        display: inline-block;
        padding-left: 5px;
        padding-right: 10px;
        font-family: GothamProRegular, sans-serif;
        font-size: 14rem; }
      .modal .modal_content label.chkbox_label {
        position: relative;
        width: 50%;
        padding-left: 30px;
        padding-bottom: 20px;
        float: left;
        box-sizing: border-box;
        font-family: GothamProRegular, sans-serif; }
        .modal .modal_content label.chkbox_label:last-of-type {
          width: 100%; }
        .modal .modal_content label.chkbox_label:after {
          content: ' ';
          width: 15px;
          height: 15px;
          box-sizing: border-box;
          position: absolute;
          left: 0;
          border: 1px solid #b3bbf0; }
      .modal .modal_content label.radio_label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        padding-bottom: 25px;
        margin-right: 15px;
        font-family: GothamProRegular, sans-serif;
        font-size: 14rem; }
        .modal .modal_content label.radio_label:before {
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          margin-right: 10px;
          position: absolute;
          left: 0;
          top: 0;
          background-color: transparent;
          border: 1px solid #b3bbf0;
          border-radius: 50%; }
    .modal .modal_content input[type="checkbox"] {
      display: none; }
      .modal .modal_content input[type="checkbox"]:checked + label:before {
        content: "\2713";
        position: absolute;
        left: 3px;
        top: -3px;
        font-size: 17px;
        color: #2cebf2;
        line-height: 15px; }
    .modal .modal_content input[type=radio] {
      display: none; }
      .modal .modal_content input[type=radio]:checked + label:before {
        content: "\2022";
        color: #2cebf2;
        font-size: 20px;
        text-align: center;
        line-height: 17px; }
    .modal .modal_content input[type='file'] {
      display: none; }
    .modal .modal_content .upload {
      display: block;
      position: relative;
      top: -15px;
      clear: both;
      text-align: left;
      color: white; }
      .modal .modal_content .upload label {
        height: 47px;
        margin-top: 15px;
        padding-left: 15px;
        display: block;
        border: 2px solid #b3bbf0;
        background-color: transparent;
        line-height: 45px;
        text-align: left;
        font-family: GothamProRegular, sans-serif;
        font-size: 14rem; }
    .modal .modal_content .modal_textarea {
      display: block;
      clear: both;
      position: relative;
      top: -15px; }
    .modal .modal_content .tel_comment {
      visibility: hidden;
      position: relative;
      bottom: 5px;
      float: left;
      opacity: 0;
      -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s;
      white-space: nowrap; }

header {
  height: 60rem;
  padding-top: 40rem;
  position: fixed;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  color: white;
  z-index: 10; }
  header .header_bg {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../images/bg_modal.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    -webkit-transition-duration: 1s;
            transition-duration: 1s; }
  header .wrapper nav {
    margin-left: -20rem;
    float: left;
    font-size: 18rem;
    text-transform: uppercase; }
    header .wrapper nav a {
      box-sizing: border-box;
      display: inline-block;
      margin: 10rem 17.5rem 0 17.5rem;
      padding-bottom: 3rem;
      border-bottom-color: rgba(255, 255, 255, 0);
      border-bottom-style: solid;
      border-bottom-width: 2rem; }
      header .wrapper nav a:hover {
        border-bottom-color: #f15151;
        -webkit-transition-duration: 1s;
                transition-duration: 1s; }
  header .wrapper .contacts {
    float: right; }
    header .wrapper .contacts > * {
      float: left; }
    header .wrapper .contacts .tel {
      position: relative;
      padding-top: 8rem;
      font-size: 20rem; }
      header .wrapper .contacts .tel .tel_comment {
        position: absolute;
        top: -15rem;
        right: 15rem;
        white-space: nowrap;
        font-family: GothamProLight, sans-serif;
        font-size: 14rem; }
      header .wrapper .contacts .tel .tel_num {
        position: relative;
        padding-bottom: 7rem;
        padding-right: 15rem;
        padding-left: 20rem; }
        header .wrapper .contacts .tel .tel_num:not(:first-of-type) {
          background-image: url(../images/bg_modal.jpg); }
      header .wrapper .contacts .tel span {
        position: absolute;
        top: 15rem;
        left: 0;
        font-size: 10rem; }
    header .wrapper .contacts .submit_app_btn, header .wrapper .contacts .lang_btn, header .wrapper .contacts .lang_btn .lang {
      box-sizing: border-box;
      height: 35rem;
      line-height: 35rem;
      font-size: 14rem; }
    header .wrapper .contacts .submit_app_btn {
      padding: 0 10rem 0 10rem;
      margin-right: 10rem;
      border: 2rem solid #f15151;
      text-align: center;
      text-transform: uppercase; }
    header .wrapper .contacts .lang_btn {
      width: 78rem;
      position: relative;
      text-transform: uppercase; }
      @media screen and (max-width: 1220px) {
        header .wrapper .contacts .lang_btn {
          margin-right: 1vw; } }
      header .wrapper .contacts .lang_btn .lang {
        width: 100%;
        height: 100%;
        padding-left: 10rem;
        position: relative;
        border: 1rem solid #6671ad; }
      header .wrapper .contacts .lang_btn .arrow {
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: 13rem;
        right: 10rem;
        border-bottom: 1rem solid #6671ad;
        border-right: 1rem solid #6671ad;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }

.full_screen_slider {
  width: 100%;
  height: 651rem;
  position: relative;
  color: white;
  background-color: #6671ad; }
  .full_screen_slider .bg_figures {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/bg_full_screen_slider.png);
    background-size: 100% auto;
    background-position: bottom center;
    background-repeat: no-repeat;
    z-index: 1; }
  .full_screen_slider .main_h {
    position: absolute;
    top: 140rem;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 2; }
  .full_screen_slider .slider {
    width: 100%;
    height: 100%; }
    .full_screen_slider .slider .slider_wrapper {
      width: 100%;
      height: 100%; }
      .full_screen_slider .slider .slider_wrapper .slides_wrapper {
        width: 100%;
        height: 100%; }
        .full_screen_slider .slider .slider_wrapper .slides_wrapper .slide {
          visibility: hidden;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          float: none;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat; }
          .full_screen_slider .slider .slider_wrapper .slides_wrapper .slide.active {
            visibility: visible; }
          .full_screen_slider .slider .slider_wrapper .slides_wrapper .slide .slide_content_wrapper {
            width: 100%;
            height: 100%;
            opacity: 0;
            -webkit-transition-duration: 0.5s;
                    transition-duration: 0.5s; }
          .full_screen_slider .slider .slider_wrapper .slides_wrapper .slide .slide_content {
            position: relative;
            width: 1040rem;
            height: 300rem;
            margin: auto;
            padding-top: 210rem;
            z-index: 2; }
            .full_screen_slider .slider .slider_wrapper .slides_wrapper .slide .slide_content > * {
              float: left; }
          .full_screen_slider .slider .slider_wrapper .slides_wrapper .slide .sign {
            padding-left: 50rem;
            padding-right: 50rem;
            line-height: 300rem;
            font-size: 80rem; }
          .full_screen_slider .slider .slider_wrapper .slides_wrapper .slide .slide_content_part {
            width: 237rem; }
            @media screen and (max-width: 1220px) {
              .full_screen_slider .slider .slider_wrapper .slides_wrapper .slide .slide_content_part {
                width: 19.434vw; } }
            .full_screen_slider .slider .slider_wrapper .slides_wrapper .slide .slide_content_part .slide_image {
              height: 235rem; }
            .full_screen_slider .slider .slider_wrapper .slides_wrapper .slide .slide_content_part .caption {
              text-align: center;
              font-family: GothamProMedium, sans-serif;
              font-size: 18rem;
              text-transform: uppercase; }
            .full_screen_slider .slider .slider_wrapper .slides_wrapper .slide .slide_content_part.info {
              padding-top: 70rem;
              float: right; }
              .full_screen_slider .slider .slider_wrapper .slides_wrapper .slide .slide_content_part.info > * {
                text-align: right;
                float: right; }
              .full_screen_slider .slider .slider_wrapper .slides_wrapper .slide .slide_content_part.info .price {
                font-family: GothamProMedium, sans-serif;
                font-size: 48rem; }
                .full_screen_slider .slider .slider_wrapper .slides_wrapper .slide .slide_content_part.info .price span {
                  font-size: 30rem;
                  font-family: GothamProLight, sans-serif; }
              .full_screen_slider .slider .slider_wrapper .slides_wrapper .slide .slide_content_part.info .submit_app_btn {
                margin-top: 20rem; }
    .full_screen_slider .slider .pagination {
      position: relative;
      top: -45rem;
      text-align: center;
      z-index: 2; }
      .full_screen_slider .slider .pagination > div {
        display: inline-block; }
        .full_screen_slider .slider .pagination > div .nav_item {
          width: 12rem;
          height: 12rem;
          margin: 0 1rem 0 1rem;
          float: left;
          border-radius: 50%;
          background-clip: padding-box;
          border: 2rem solid rgba(255, 255, 255, 0);
          background-color: #f15151; }
          .full_screen_slider .slider .pagination > div .nav_item.active {
            background-color: transparent;
            border: 2rem solid #f15151;
            margin: 0 2rem 0 2rem; }

/*.top_offer {
    width: 100%;
    height: 551rem;
    padding-top: 100rem;

    background: {
        image: url(../images/bg_top.jpg);
        size: cover;
        position: top center;
        repeat: no-repeat;
    }
    color: white;
    @include bp(1220) {
        height: 551 * 0.082vw;
    }
    .main_h {
        padding-top: 40rem;
        padding-bottom: 60rem;
        @include bp(1220) {
            padding-top: 40 * 0.082vw;
            padding-bottom: 60 * 0.082vw;
        }
    }
    .slider {
        @extend %slider;
        $width: 1040rem;
        width: $width;
        margin: auto;
        @include bp(1220) {
            width: 1040 * 0.082vw;
        }
        .slider_wrapper {
            width: 100%;
            .slides_wrapper {
                .slide {
                    $height: 300rem;
                    width: $width;
                    height: $height;
                    @include bp(1220) {
                        width: 1040 * 0.082vw;
                        height: 300 * 0.082vw;
                    }
                    >* {
                        float: left;
                    }
                    .sign {
                        padding-left: 50rem;
                        padding-right: 50rem;
                        line-height: $height;
                        font-size: $f_80;
                        @include bp(1220) {
                            padding-right: 50 * 0.082vw;
                            padding-left: 50 * 0.082vw;
                            line-height: 300* 0.082vw;
                        }
                    }
                    .slide_content_part {
                        width: 237rem;
                        @include bp(1220) {
                            width: 237 * 0.082vw;
                        }
                        .slide_image {
                            height: 235rem;
                            @include bp(1220) {
                                height: 235 * 0.082vw;
                            }
                        }
                        .caption {
                            text-align: center;
                            font-family: $f_medium;
                            font-size: $f_18;
                            text-transform: uppercase;
                        }
                        &.info {
                            padding-top: 70rem;
                            float: right;
                            @include bp(1220) {
                                padding-top: 70 * 0.082vw;
                            }
                            >* {
                                text-align: right;
                                float: right;
                            }
                            .price {
                                font-family: $f_medium;
                                font-size: $f_48;
                                span {
                                    font-family: $f_light;
                                }
                            }
                            .submit_app_btn {
                                $height: 55rem;
                                padding: 0 $m_abs*2 0 $m_abs*2;
                                height: $height;
                                margin-top: 20rem;
                                box-sizing: border-box;
                                border: 4rem solid $soft_red;
                                text-align: center;
                                line-height: $height - 8rem;
                                font-family: $f_medium;
                                font-size: $f_20;
                                &:hover {
                                    -webkit-animation-name: hvr-buzz-out;
                                    animation-name: hvr-buzz-out;
                                    -webkit-animation-duration: 0.75s;
                                    animation-duration: 0.75s;
                                    -webkit-animation-timing-function: linear;
                                    animation-timing-function: linear;
                                    -webkit-animation-iteration-count: 1;
                                    animation-iteration-count: 1;
                                }
                                @include bp(1220) {
                                    height: 55* 0.082vw;
                                    margin-top: 20* 0.082vw;
                                    padding: 0 $m_rel*2 0 $m_rel*2;
                                    line-height: (55 - 8) * 0.082vw;
                                }
                            }
                        }
                    }
                }
            }
        }
        .pagination {
            padding-top: 80rem;
            text-align: center;
            @include bp(1220) {
                padding-top: 80 * 0.082vw;
            }
            >div {
                display: inline-block;
                .nav_item {
                    width: 12rem;
                    height: 12rem;
                    margin: 0 1rem 0 1rem;
                    float: left;
                    border-radius: 50%;
                    background-clip: padding-box;
                    border: 2rem solid rgba(255, 255, 255, 0);
                    background-color: $soft_red;
                    @include bp(1220) {
                        width: 12 * 0.082vw;
                        height: 12 * 0.082vw;
                    }
                    &.active {
                        background-color: transparent;
                        border: 2rem solid $soft_red;
                        margin: 0 2rem 0 2rem;
                    }
                }
            }
        }
    }
}*/
.work_directions {
  height: 650rem;
  position: relative;
  background-image: url(../images/bg_top_section_bottom_part.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white; }
  .work_directions .wrapper {
    height: 100%;
    position: relative;
    overflow: hidden; }
    .work_directions .wrapper .main_h {
      padding-top: 120rem;
      position: absolute;
      right: 0;
      left: 0; }
    .work_directions .wrapper .direction {
      width: 33.33%;
      height: 100%;
      float: left;
      background-image: url(../images/orbit.png);
      background-size: contain;
      background-position: 60rem center;
      background-repeat: no-repeat; }
      @media screen and (max-width: 1220px) {
        .work_directions .wrapper .direction {
          size: 100% auto; } }
      .work_directions .wrapper .direction .direction_wrapper {
        position: relative;
        height: 435rem;
        padding-top: 150rem; }
        .work_directions .wrapper .direction .direction_wrapper .service {
          position: relative;
          display: block;
          height: 120rem;
          -webkit-animation-iteration-count: infinite;
                  animation-iteration-count: infinite;
          -webkit-animation-timing-function: linear;
                  animation-timing-function: linear;
          -webkit-animation-direction: alternate;
                  animation-direction: alternate;
          -webkit-transform: translate(0, 0);
              -ms-transform: translate(0, 0);
                  transform: translate(0, 0); }
          .work_directions .wrapper .direction .direction_wrapper .service > a {
            display: block;
            top: -25rem;
            left: 0;
            right: 0;
            bottom: 0;
            cursor: pointer;
            z-index: 1; }
          .work_directions .wrapper .direction .direction_wrapper .service * {
            position: absolute; }
          .work_directions .wrapper .direction .direction_wrapper .service img {
            top: 0;
            left: 0; }
          .work_directions .wrapper .direction .direction_wrapper .service .lines .circle {
            width: 5rem;
            height: 5rem;
            top: -3rem;
            border-radius: 50%;
            background-color: #f15151; }
          .work_directions .wrapper .direction .direction_wrapper .service .lines .direct_line {
            width: 205rem;
            top: 5rem;
            left: 130rem;
            border-top: 1rem solid #f15151; }
            .work_directions .wrapper .direction .direction_wrapper .service .lines .direct_line .skew_line {
              width: 55rem;
              top: 12rem;
              left: -50rem;
              border-top: 1rem solid #f15151;
              -webkit-transform: rotate(-30deg);
                  -ms-transform: rotate(-30deg);
                      transform: rotate(-30deg); }
              .work_directions .wrapper .direction .direction_wrapper .service .lines .direct_line .skew_line .first_circle {
                left: 0; }
            .work_directions .wrapper .direction .direction_wrapper .service .lines .direct_line .second_circle {
              left: 0; }
            .work_directions .wrapper .direction .direction_wrapper .service .lines .direct_line .third_circle {
              right: 0; }
          .work_directions .wrapper .direction .direction_wrapper .service .service_name {
            right: 17%;
            top: -25rem;
            font-family: GothamProMedium, sans-serif;
            font-size: 20rem;
            text-transform: uppercase; }
          .work_directions .wrapper .direction .direction_wrapper .service .price {
            height: 34rem;
            padding-right: 15rem;
            right: 14%;
            top: 15rem;
            background-image: url(../images/red_triangle.png);
            background-size: contain;
            background-position: right center;
            background-repeat: no-repeat;
            line-height: 34rem;
            font-size: 18rem; }
          .work_directions .wrapper .direction .direction_wrapper .service.item1 {
            -webkit-animation-name: orbit1;
                    animation-name: orbit1;
            -webkit-animation-duration: 10s;
                    animation-duration: 10s; }
          .work_directions .wrapper .direction .direction_wrapper .service.item2 {
            -webkit-animation-name: orbit2;
                    animation-name: orbit2;
            -webkit-animation-duration: 12s;
                    animation-duration: 12s; }
          .work_directions .wrapper .direction .direction_wrapper .service.item3 {
            -webkit-animation-name: orbit3;
                    animation-name: orbit3;
            -webkit-animation-duration: 15s;
                    animation-duration: 15s; }

.performed_works {
  padding-top: 60rem;
  padding-bottom: 30rem;
  position: relative; }
  .performed_works .main_h {
    padding-bottom: 50rem; }
  .performed_works .portfolio {
    margin: -10rem; }
    .performed_works .portfolio > * {
      height: 373.32rem;
      margin: 10rem;
      float: left;
      background-color: black;
      overflow: hidden; }
      .performed_works .portfolio > * .hover_logo {
        width: 100%;
        height: 100%;
        position: absolute;
        padding-top: 70rem;
        top: 0;
        left: 0;
        -webkit-transform: translateY(0%);
            -ms-transform: translateY(0%);
                transform: translateY(0%);
        -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
        color: white;
        text-align: center; }
        .performed_works .portfolio > * .hover_logo img {
          width: auto;
          max-width: 80%;
          height: 40%;
          margin-right: auto;
          margin-left: auto;
          display: block;
          position: relative; }
        .performed_works .portfolio > * .hover_logo .hover_logo_button {
          height: 29rem;
          margin-top: 45rem;
          padding: 0 10rem 0 10rem;
          display: inline-block;
          position: relative;
          border: 2rem solid #f15151;
          text-align: center;
          text-transform: uppercase;
          line-height: 29rem;
          font-size: 14rem; }
        .performed_works .portfolio > * .hover_logo:before {
          content: ' ';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-image: url(../images/bg_modal.jpg);
          background-position: center;
          background-repeat: no-repeat;
          opacity: 0.9; }
      .performed_works .portfolio > * img {
        width: 100%;
        height: auto;
        overflow: hidden; }
    .performed_works .portfolio .cell_cube {
      width: 373.32rem;
      position: relative; }
    .performed_works .portfolio .cell_rect {
      width: 766.64rem;
      position: relative; }

.site_ordering {
  height: 350rem;
  text-align: center;
  background-image: url(../images/bg_order_website.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white; }
  @media screen and (max-width: 1220px) {
    .site_ordering {
      height: 28.7vw; } }
  .site_ordering .wrapper {
    height: 100%;
    position: relative; }
  .site_ordering .main_h {
    padding-top: 50rem;
    padding-bottom: 15rem; }
    @media screen and (max-width: 1220px) {
      .site_ordering .main_h {
        padding-top: 4.1vw;
        padding-bottom: 1.23vw; } }
  .site_ordering p {
    margin-bottom: 70rem;
    position: relative;
    display: inline-block; }
    @media screen and (max-width: 1220px) {
      .site_ordering p {
        margin-bottom: 5.74vw; } }
    .site_ordering p:before, .site_ordering p:after {
      position: absolute;
      display: block; }
    .site_ordering p:before {
      content: url(../images/little_star_1.png);
      left: -35rem;
      top: -8rem; }
    .site_ordering p:after {
      content: url(../images/little_star_2.png);
      right: -25rem;
      top: -3rem; }
  .site_ordering .submit_app_btn {
    position: relative;
    z-index: 1;
    height: 45rem;
    padding: 0 25rem 0 25rem;
    display: table;
    margin: auto;
    box-sizing: border-box;
    border: 2rem solid #f15151;
    line-height: 45rem;
    font-family: GothamProMedium, sans-serif;
    font-size: 16rem;
    text-transform: uppercase; }
    @media screen and (max-width: 1220px) {
      .site_ordering .submit_app_btn {
        height: 3.69vw;
        padding-left: 2.05vw;
        padding-right: 2.05vw;
        line-height: 3.69vw; } }
  .site_ordering .planet {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/orbit_horiz.png);
    background-position: center bottom;
    background-repeat: no-repeat; }
    .site_ordering .planet:before {
      content: url(../images/green_planet.png);
      display: block;
      position: absolute;
      bottom: -70rem;
      left: 125rem; }
      @media screen and (max-width: 1220px) {
        .site_ordering .planet:before {
          left: 10vw; } }
    .site_ordering .planet:after {
      content: " ";
      display: block;
      position: absolute;
      bottom: 32rem;
      right: 220rem;
      width: 13rem;
      height: 13rem;
      border-radius: 50%;
      background-color: #39ff97;
      box-shadow: 0rem 0rem 8rem white; }

section.about {
  padding-top: 60rem;
  padding-bottom: 10rem; }
  section.about .main_h {
    padding-left: 20rem;
    text-align: left; }
  section.about p {
    padding: 20rem; }
  section.about .small_h {
    padding-top: 25rem;
    padding-bottom: 55rem;
    padding-left: 20rem;
    text-align: left; }
  section.about .cycle {
    min-height: 215rem;
    height: 1rem; }
    section.about .cycle > div {
      margin-left: 0.862%;
      margin-right: 0.862%;
      float: left; }
    section.about .cycle div.step {
      width: 13.793%;
      min-height: 100%;
      height: auto; }
      section.about .cycle div.step > img {
        display: block;
        margin: auto;
        height: 112rem;
        width: auto; }
    section.about .cycle .arrow {
      width: 3.448%;
      height: 100%;
      background-image: url(../images/arrow.png);
      background-position: center 48rem;
      background-size: 100% auto;
      background-repeat: no-repeat; }

section.review {
  padding-top: 60rem; }
  section.review .main_h {
    padding-bottom: 20rem; }
  section.review .slider {
    min-height: 230rem;
    padding-bottom: 150rem; }
    section.review .slider .arrow {
      top: 85rem; }
    section.review .slider .slider_wrapper .slides_wrapper .slide {
      position: relative;
      width: 1079rem;
      margin: auto; }
      section.review .slider .slider_wrapper .slides_wrapper .slide .slide_content_part {
        max-width: 890rem;
        min-width: 50%;
        margin: 15rem 0 30rem 20rem;
        padding: 25rem 20rem 45rem 150rem;
        white-space: pre-wrap;
        background-color: white; }
        section.review .slider .slider_wrapper .slides_wrapper .slide .slide_content_part img {
          width: 150rem;
          height: 150rem;
          display: block;
          position: absolute;
          top: 0;
          left: 0; }
        section.review .slider .slider_wrapper .slides_wrapper .slide .slide_content_part .name {
          font-family: GothamProMedium, sans-serif;
          font-size: 20rem;
          text-transform: uppercase; }
        section.review .slider .slider_wrapper .slides_wrapper .slide .slide_content_part .post {
          padding-bottom: 25rem; }
        section.review .slider .slider_wrapper .slides_wrapper .slide .slide_content_part .text {
          text-align: justify; }
        section.review .slider .slider_wrapper .slides_wrapper .slide .slide_content_part a.button {
          display: block;
          position: absolute;
          bottom: 0; }
          section.review .slider .slider_wrapper .slides_wrapper .slide .slide_content_part a.button:nth-of-type(1) {
            left: 170rem; }
          section.review .slider .slider_wrapper .slides_wrapper .slide .slide_content_part a.button:nth-of-type(2) {
            right: 10rem; }

section.team {
  padding-bottom: 65rem;
  text-align: center;
  background-image: url(../images/orbit_horiz_big.png);
  background-position: bottom center;
  background-repeat: no-repeat; }
  section.team .wrapper > .main_h {
    padding-bottom: 75rem; }
  section.team .wrapper .slider {
    height: 285rem; }
    section.team .wrapper .slider .arrow {
      top: 117rem; }
    section.team .wrapper .slider .slider_wrapper .slides_wrapper .slide {
      width: 359.57rem;
      padding-top: 0;
      float: left;
      -webkit-transition-duration: 1s;
              transition-duration: 1s; }
      @media screen and (max-width: 1220px) {
        section.team .wrapper .slider .slider_wrapper .slides_wrapper .slide {
          width: 29.4vw; } }
      section.team .wrapper .slider .slider_wrapper .slides_wrapper .slide[data-slide-position='left'], section.team .wrapper .slider .slider_wrapper .slides_wrapper .slide[data-slide-position='right'] {
        padding-top: 40rem;
        -webkit-transition-duration: 1s;
                transition-duration: 1s; }
      section.team .wrapper .slider .slider_wrapper .slides_wrapper .slide[data-slide-position='left_bottom'], section.team .wrapper .slider .slider_wrapper .slides_wrapper .slide[data-slide-position='right_bottom'] {
        padding-top: 80rem;
        -webkit-transition-duration: 1s;
                transition-duration: 1s; }
      section.team .wrapper .slider .slider_wrapper .slides_wrapper .slide img {
        width: 192rem;
        height: 143rem;
        margin: auto;
        display: block;
        overflow: hidden; }
        @media screen and (max-width: 1220px) {
          section.team .wrapper .slider .slider_wrapper .slides_wrapper .slide img {
            width: 15.7vw;
            height: 11.7vw; } }
      section.team .wrapper .slider .slider_wrapper .slides_wrapper .slide .main_h {
        padding-top: 15rem;
        padding-bottom: 5rem; }
  section.team .wrapper a.button {
    display: inline-block; }

section.cat_top_part {
  height: 700rem;
  position: relative;
  text-align: center;
  background-image: url(../images/bg_top.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white; }
  section.cat_top_part .wrapper {
    height: 100%; }
  section.cat_top_part .main_h {
    padding-top: 170rem;
    padding-bottom: 50rem; }
  section.cat_top_part .bg_orbit {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../images/orbit_horiz_big_white.png);
    background-position: center top;
    background-repeat: no-repeat; }
  section.cat_top_part .submit_app_btn {
    margin-top: 85rem;
    display: inline-block;
    clear: both; }
  section.cat_top_part .item_block {
    width: 25%;
    float: left; }
    section.cat_top_part .item_block.lower_position {
      margin-top: 40rem; }
    section.cat_top_part .item_block:nth-of-type(odd) > img {
      -webkit-transform: rotate(30deg);
          -ms-transform: rotate(30deg);
              transform: rotate(30deg); }
    section.cat_top_part .item_block > img {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 10rem;
      height: 112rem;
      width: auto; }

footer {
  padding-top: 130rem;
  padding-bottom: 100rem;
  position: relative;
  background-image: url(../images/bg_footer.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: white; }
  footer .wrapper {
    padding-left: 0rem;
    padding-right: 5rem; }
    footer .wrapper .main_h {
      text-align: left; }
    footer .wrapper p {
      padding-top: 10rem;
      line-height: 150%; }
    footer .wrapper > div.contacts {
      width: 600rem;
      float: left; }
      footer .wrapper > div.contacts > * {
        padding-left: 35rem; }
      footer .wrapper > div.contacts p {
        padding-bottom: 50rem; }
        footer .wrapper > div.contacts p a {
          color: #2ceff5;
          text-decoration: underline; }
      footer .wrapper > div.contacts .cont {
        width: 250rem;
        padding-left: 70rem;
        padding-bottom: 30rem;
        position: relative;
        box-sizing: border-box;
        float: left;
        font-size: 14rem; }
      footer .wrapper > div.contacts .socials {
        height: 93rem;
        padding-left: 70rem;
        padding-top: 25rem;
        position: relative;
        box-sizing: border-box;
        float: left;
        font-size: 18rem;
        background-size: auto 100%;
        background-position: 20rem center;
        background-repeat: no-repeat;
        background-image: url(../images/big_triangle.png); }
        footer .wrapper > div.contacts .socials > a {
          font-family: GothamProMedium, sans-serif; }
      footer .wrapper > div.contacts .s-1:before,
      footer .wrapper > div.contacts .s-2:before,
      footer .wrapper > div.contacts .s-3:before,
      footer .wrapper > div.contacts .s-4:before,
      footer .wrapper > div.contacts .s-5:before,
      footer .wrapper > div.contacts .s-6:before {
        content: ' ';
        display: block;
        position: absolute;
        background: url(../images/sprites.png) no-repeat; }
      footer .wrapper > div.contacts .s-1:before,
      footer .wrapper > div.contacts .s-2:before,
      footer .wrapper > div.contacts .s-3:before,
      footer .wrapper > div.contacts .s-4:before {
        left: 35rem; }
      footer .wrapper > div.contacts .s-5:before,
      footer .wrapper > div.contacts .s-6:before {
        left: 25rem; }
      footer .wrapper > div.contacts .s-1:before {
        background-position: -55px -45px;
        width: 20rem;
        height: 20rem; }
      footer .wrapper > div.contacts .s-2:before {
        background-position: -55px -26px;
        width: 20rem;
        height: 8rem;
        top: 8rem; }
      footer .wrapper > div.contacts .s-3:before {
        background-position: 0 -47px;
        width: 20rem;
        height: 21rem;
        top: 3rem; }
      footer .wrapper > div.contacts .s-4:before {
        background-position: -27px -50px;
        width: 20rem;
        height: 15rem;
        top: 4rem; }
      footer .wrapper > div.contacts .s-5:before {
        background-position: 0 0;
        width: 31rem;
        height: 31rem;
        top: 35rem; }
      footer .wrapper > div.contacts .s-6:before {
        background-position: -48px 0;
        width: 31rem;
        height: 18rem;
        top: 40rem; }
    footer .wrapper > div.form {
      width: 570rem;
      float: right; }
      @media screen and (max-width: 1220px) {
        footer .wrapper > div.form {
          width: 45vw;
          padding-right: 3vw; } }
      footer .wrapper > div.form p {
        padding-bottom: 30rem; }
      footer .wrapper > div.form form {
        width: 576rem;
        margin: -0.53%; }
        @media screen and (max-width: 1220px) {
          footer .wrapper > div.form form {
            width: 40vw; } }
        footer .wrapper > div.form form input {
          height: 40rem;
          margin: 0.53%;
          line-height: 40rem; }
          footer .wrapper > div.form form input:valid {
            border: none; }
          footer .wrapper > div.form form input:nth-of-type(1) {
            width: 98.94%; }
          footer .wrapper > div.form form input:nth-of-type(2), footer .wrapper > div.form form input:nth-of-type(3) {
            width: 48.94%;
            float: left; }
        footer .wrapper > div.form form textarea {
          width: 98.94%;
          height: 65rem;
          margin: 0.53%;
          padding-top: 15rem;
          clear: both;
          float: left; }
        footer .wrapper > div.form form button {
          height: 50rem;
          margin-top: 22rem;
          margin-right: 0.53%;
          padding-left: 15rem;
          padding-right: 15rem;
          clear: both;
          float: right;
          background-color: #f15151;
          font-family: GothamProMedium, sans-serif;
          font-size: 14rem;
          color: white;
          text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */