@font-face {
  font-family: GothamProLight;
  src: url(../fonts/GothamProLight.ttf); }
@font-face {
  font-family: GothamProRegular;
  src: url(../fonts/GothamProRegular.ttf); }
@font-face {
  font-family: GothamProMedium;
  src: url(../fonts/GothamProMedium.ttf); }
@font-face {
  font-family: GothamProBold;
  src: url(../fonts/GothamProBold.ttf); }
header .wrapper, .top_offer .slider .slider_wrapper .slides_wrapper, .work_directions .wrapper, .performed_works .portfolio {
  position: relative; }
  header .wrapper:after, .top_offer .slider .slider_wrapper .slides_wrapper:after, .work_directions .wrapper:after, .performed_works .portfolio:after {
    content: ' ';
    display: block;
    clear: both; }

@keyframes orbit1 {
  0% {
    left: 19%;
    top: 50px; }
  10% {
    left: 20%; }
  20% {
    left: 21%; }
  30% {
    left: 20%; }
  40% {
    left: 19%; }
  50% {
    left: 18%; }
  60% {
    left: 17%; }
  70% {
    left: 16%; }
  80% {
    left: 15%; }
  90% {
    left: 14%; }
  100% {
    left: 13%;
    top: 350px; } }
@keyframes orbit2 {
  0% {
    left: 20%;
    top: 70px; }
  10% {
    left: 21%; }
  20% {
    left: 20%; }
  30% {
    left: 19%; }
  40% {
    left: 18%; }
  50% {
    left: 17%; }
  60% {
    left: 16%; }
  70% {
    left: 15%; }
  80% {
    left: 14%; }
  90% {
    left: 13%; }
  100% {
    left: 12%;
    top: 370px; } }
@keyframes orbit3 {
  0% {
    left: 12%;
    top: -60px; }
  10% {
    left: 16%; }
  20% {
    left: 18%; }
  30% {
    left: 20%; }
  40% {
    left: 22%; }
  50% {
    left: 20%; }
  60% {
    left: 18%; }
  70% {
    left: 16%; }
  80% {
    left: 14%; }
  90% {
    left: 12%; }
  100% {
    left: 10%;
    top: 370px; } }
html,
body {
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  font-family: GothamProRegular; }

html {
  font-size: 1px; }

.wrapper {
  max-width: 1200px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center; }

h1 {
  font-family: GothamProMedium;
  font-size: 24rem; }

h2 {
  font-family: GothamProMedium;
  font-size: 25rem; }

h5 {
  font-size: 14rem; }

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    display: inline-block; }

img {
  display: block; }

.image1 {
  width: auto;
  height: 219px;
  overflow: hidden; }

.image2 {
  width: auto;
  height: 211px;
  overflow: hidden; }

.image3,
.image4,
image5 {
  width: auto;
  height: 114px;
  overflow: hidden; }

header {
  height: 60px;
  padding-top: 40px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-image: url(../images/bg_header.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  color: white;
  z-index: 10; }
  header .wrapper nav {
    margin-left: -20px;
    float: left;
    font-size: 18rem; }
    header .wrapper nav a {
      display: inline-block;
      padding: 10px 17.5px 0 17.5px; }
  header .wrapper .contacts {
    float: right; }
    header .wrapper .contacts > * {
      float: left; }
    header .wrapper .contacts .tel {
      padding-top: 8px;
      padding-right: 10px;
      font-size: 20rem; }
      header .wrapper .contacts .tel span {
        display: inline-block;
        padding-right: inherit;
        vertical-align: middle;
        font-size: 10rem; }
    header .wrapper .contacts .submit_app_btn, header .wrapper .contacts .lang_btn, header .wrapper .contacts .lang_btn .lang {
      box-sizing: border-box;
      height: 35px;
      line-height: 35px;
      font-size: 14rem; }
    header .wrapper .contacts .submit_app_btn {
      padding: 0 10px 0 10px;
      margin-right: 10px;
      border: 2px solid #f15151;
      text-align: center; }
    header .wrapper .contacts .lang_btn {
      width: 78px;
      position: relative;
      border: 1px solid #6671ad; }
      header .wrapper .contacts .lang_btn .lang {
        width: 100%;
        height: 100%;
        padding-left: 10px; }
      header .wrapper .contacts .lang_btn .arrow {
        width: 4px;
        height: 4px;
        position: absolute;
        top: 13px;
        right: 10px;
        border-bottom: 1px solid #6671ad;
        border-right: 1px solid #6671ad;
        transform: rotate(45deg); }

.top_offer {
  width: 100%;
  height: 551px;
  padding-top: 100px;
  background-image: url(../images/bg_top.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  color: white; }
  .top_offer h1 {
    padding-top: 40px;
    padding-bottom: 60px; }
  .top_offer .slider {
    width: 1040px;
    margin: auto; }
    .top_offer .slider .slider_wrapper {
      width: 100%; }
      .top_offer .slider .slider_wrapper .slides_wrapper .slide {
        width: 1040px;
        height: 300px;
        float: left; }
        .top_offer .slider .slider_wrapper .slides_wrapper .slide > * {
          float: left; }
        .top_offer .slider .slider_wrapper .slides_wrapper .slide .sign {
          padding-left: 50px;
          padding-right: 50px;
          line-height: 300px;
          font-size: 80rem; }
        .top_offer .slider .slider_wrapper .slides_wrapper .slide .slide_content_part {
          width: 237px; }
          .top_offer .slider .slider_wrapper .slides_wrapper .slide .slide_content_part .slide_image {
            height: 235px; }
          .top_offer .slider .slider_wrapper .slides_wrapper .slide .slide_content_part .caption {
            text-align: center;
            font-family: GothamProMedium;
            font-size: 18rem; }
          .top_offer .slider .slider_wrapper .slides_wrapper .slide .slide_content_part.info {
            padding-top: 70px;
            float: right; }
            .top_offer .slider .slider_wrapper .slides_wrapper .slide .slide_content_part.info > * {
              text-align: right;
              float: right; }
            .top_offer .slider .slider_wrapper .slides_wrapper .slide .slide_content_part.info .price {
              font-family: GothamProMedium;
              font-size: 48rem; }
            .top_offer .slider .slider_wrapper .slides_wrapper .slide .slide_content_part.info .submit_app_btn {
              padding: 0 20px 0 20px;
              height: 55px;
              margin-top: 20px;
              box-sizing: border-box;
              border: 4px solid #f15151;
              text-align: center;
              line-height: 47px;
              font-family: GothamProMedium;
              font-size: 20rem; }
    .top_offer .slider .pagination {
      padding-top: 80px;
      text-align: center; }
      .top_offer .slider .pagination > div {
        display: inline-block; }
        .top_offer .slider .pagination > div .nav_item {
          width: 12px;
          height: 12px;
          margin: 0 1px 0 1px;
          float: left;
          border-radius: 50%;
          background-clip: padding-box;
          border: 2px solid rgba(255, 255, 255, 0);
          background-color: #f15151; }
          .top_offer .slider .pagination > div .nav_item.active {
            background-color: transparent;
            border: 2px solid #f15151;
            margin: 0 2px 0 2px; }

.work_directions {
  height: 650px;
  background-image: url(../images/bg_top_section_bottom_part.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white; }
  .work_directions .wrapper {
    height: 100%;
    position: relative; }
    .work_directions .wrapper h2 {
      padding-top: 120px;
      position: absolute;
      right: 0;
      left: 0; }
    .work_directions .wrapper .direction {
      width: 33.33%;
      height: 100%;
      float: left;
      background-image: url(../images/orbit.png);
      background-size: contain;
      background-position: 60px center;
      background-repeat: no-repeat; }
      .work_directions .wrapper .direction .direction_wrapper {
        position: relative;
        height: 435px;
        padding-top: 150px; }
        .work_directions .wrapper .direction .direction_wrapper .service {
          position: relative;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-direction: alternate; }
          .work_directions .wrapper .direction .direction_wrapper .service * {
            position: absolute; }
          .work_directions .wrapper .direction .direction_wrapper .service img {
            top: 0;
            left: 0; }
          .work_directions .wrapper .direction .direction_wrapper .service .lines .circle {
            width: 5px;
            height: 5px;
            top: -3px;
            border-radius: 50%;
            background-color: #f15151; }
          .work_directions .wrapper .direction .direction_wrapper .service .lines .direct_line {
            width: 205px;
            top: 5px;
            left: 130px;
            border-top: 1px solid #f15151; }
            .work_directions .wrapper .direction .direction_wrapper .service .lines .direct_line .skew_line {
              width: 55px;
              top: 12px;
              left: -50px;
              border-top: 1px solid #f15151;
              transform: rotate(-30deg); }
              .work_directions .wrapper .direction .direction_wrapper .service .lines .direct_line .skew_line .first_circle {
                left: 0; }
            .work_directions .wrapper .direction .direction_wrapper .service .lines .direct_line .second_circle {
              left: 0; }
            .work_directions .wrapper .direction .direction_wrapper .service .lines .direct_line .third_circle {
              right: 0; }
          .work_directions .wrapper .direction .direction_wrapper .service .service_name {
            right: 17%;
            top: -25px;
            font-family: GothamProMedium;
            font-size: 20rem; }
          .work_directions .wrapper .direction .direction_wrapper .service .price {
            height: 34px;
            padding-right: 15px;
            right: 14%;
            top: 15px;
            background-image: url(../images/red_triangle.png);
            background-size: contain;
            background-position: right center;
            background-repeat: no-repeat;
            line-height: 34px;
            font-size: 18rem; }
          .work_directions .wrapper .direction .direction_wrapper .service.item1 {
            animation-name: orbit1;
            animation-duration: 3s; }
          .work_directions .wrapper .direction .direction_wrapper .service.item2 {
            animation-name: orbit2;
            animation-duration: 4s; }
          .work_directions .wrapper .direction .direction_wrapper .service.item3 {
            animation-name: orbit3;
            animation-duration: 5s; }

.performed_works {
  padding-top: 60px;
  padding-bottom: 30px; }
  .performed_works h2 {
    padding-bottom: 50px; }
  .performed_works .portfolio {
    margin: -10px; }
    .performed_works .portfolio > * {
      height: 373.32px;
      margin: 10px;
      float: left;
      background-color: black;
      overflow: auto; }
    .performed_works .portfolio .cell_cube {
      width: 373.32px; }
    .performed_works .portfolio .cell_rect {
      width: 766.64px; }

.site_ordering {
  height: 350px;
  text-align: center;
  background-image: url(../images/bg_order_website.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white; }
  .site_ordering .wrapper {
    height: 100%;
    position: relative; }
  .site_ordering h1 {
    padding-top: 50px;
    padding-bottom: 15px; }
  .site_ordering h5 {
    margin-bottom: 70px;
    position: relative;
    display: inline-block; }
    .site_ordering h5:before, .site_ordering h5:after {
      position: absolute;
      display: block; }
    .site_ordering h5:before {
      content: url(../images/little_star_1.png);
      left: -35px;
      top: -8px; }
    .site_ordering h5:after {
      content: url(../images/little_star_2.png);
      right: -25px;
      top: -3px; }
  .site_ordering .submit_app_btn {
    position: relative;
    z-index: 1;
    height: 45px;
    padding: 0 25px 0 25px;
    display: table;
    margin: auto;
    box-sizing: border-box;
    border: 2px solid #f15151;
    line-height: 45px;
    font-family: GothamProMedium;
    font-size: 16rem; }
  .site_ordering .planet {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/orbit_horiz.png);
    background-position: center bottom;
    background-repeat: no-repeat; }
    .site_ordering .planet:before {
      content: url(../images/green_planet.png);
      display: block;
      position: absolute;
      bottom: -70px;
      left: 125px; }
    .site_ordering .planet:after {
      content: " ";
      display: block;
      position: absolute;
      bottom: 32px;
      right: 220px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: #39ff97;
      -webkit-box-shadow: 0px 0px 8px white;
      -moz-box-shadow: 0px 0px 8px white;
      box-shadow: 0px 0px 8px white; }

/*# sourceMappingURL=style.css.map */
